.header-content {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
}
.header-left {
    background: #4076FB;
    flex: 9;
    -webkit-flex: 9;
    -ms-flex: 9;
    padding: 5px 20px;
}
.header-right {
    background: black;
    color: white;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.header-right a {
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
}
.body-content {
    padding-bottom: 20px;
}
.body-content .breadcrumb {
    padding: 20px 40px;
}
.body-content .breadcrumb a span {
    font-size: 12px;
}
.body-content .breadcrumb a:nth-child(1) span {
    color: #ABABAB;
    font-weight: normal;
}
.body-content .breadcrumb a:nth-child(2) {
    margin: 0px 5px;
}
.body-content .breadcrumb a span {
    font-weight: bold;
}
.main-content {
    display: flex;
}
.main-content .progress {
    flex: 1;
    display: flex;
    -webkit-flex-align: center;
    align-items: flex-start;
    justify-content: center;
}
.main-content .summary {
    flex: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
    justify-content: center;
}
.main-content .summary .summary-info {
    height: 470px;
    width: 250px;
    background: white;
    padding: 15px;
    color: #919191;
    font-size: 15px;
}
.main-content .summary button {
    background: #4076FB;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
}
.main-content .form-body {
    flex: 3;
}
.main-content .form-body .description {
    width: 100%;
    font-size: 24px;
    margin-top: 15px;
}
.main-content .form-body .desc {
    margin-top: 20px;
}
.main-content .form-body .desc mat-form-field {
    width: 100%;
}
.main-content .form-body label {
    font-weight: bold;
}
.main-content .form-body textarea {
    width: 96%;
    margin-top: 12px;
    padding: 10px;
}
.main-content .form-body .timeline {
    margin-top: 30px;
}
.main-content .form-body .timeline .timeline-body{
    margin-top: 10px;
}
.main-content .form-body .timeline .timeline-body mat-form-field:nth-child(2){
    float: right;
}
.main-content .form-body .user-info {
    margin-top: 16px;
}
.main-content .form-body .user-info img{
    width: 40px;
}
.main-content .form-body .user-info p {
    color: #B3B3B2;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    cursor: pointer;
}
.main-content .form-body .user-info p .mat-icon {
    font-size: 20px;
}
.main-content .form-body .user-info .user-info-cont {
    display: flex;
}
.main-content .form-body .user-info .user-info-cont .user-image {
    flex: 1;
    margin-top: 7px;
}
.main-content .form-body .user-info .user-info-cont .user-name {
    flex: 7;
    width: 100%;
    font-size: 16px;
}
.main-content .form-body .user-info .user-info-cont .user-name-cont {
    width: 100%;
}
.userlist {
    list-style: none;
    background-color: #ffffff;
    margin-left: 6%;
    margin-top: -10px;
}
.collapse-title {
    background: black;
    color: white;
}
.example-chip-list {
    width: 100%;
  }
.collapse-title mat-panel-title, .collapse-title mat-icon {
    color: white;
}
.collapse-title mat-panel-title {
    font-weight: bold;
}
mat-expansion-panel-header:hover, mat-expansion-panel-header {
    background: black !important;
}
mat-panel-description {
    justify-content: flex-end;
    margin: 0;
}
.mat-accordion .mat-expansion-panel {
    margin-bottom: 20px;
}
.main-content .form-body .owner .owner-body select, .main-content .form-body .alignment .alignment-body select {
    padding: 8px;
    font-size: 15px;
    background: white;
    margin-top: 10px;
}
.main-content .form-body .owner .owner-body select {
    padding-right: 84px;
}
.main-content .form-body .alignment .alignment-body select {
    padding-right: 18px;
}
.main-content .form-body .alignment-sub {
    margin-top: 12px;
}

.container {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal !important;
    color: #A2A2A2;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .container em {
      font-style: normal;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .container input:checked ~ em {
    color: #4076FB;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #4076FB;
  }

  .main-content .form-submit {
      display: flex;
  }
  .main-content .form-submit button:nth-child(1) {
    flex: 1;
    background: #9B9B9B;
    font-weight: bold;
    font-size: 15px;
  }
  .main-content .form-submit button:nth-child(2) {
    flex: 1;
    margin-left: 25px;
    background: #5ADA34;
    font-weight: bold;
    font-size: 15px;
  }
  .visit {
    color: #5ADA34;
  }
  .current {
    font-weight: bold;
    font-size: 9px;
  }
  ul.progress-bar-text {
    font-size: 8px;
    width: 24px;
    margin: 0;
    height: 300px;
    list-style: none;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    margin-right: 6px;
    color: #BEBEBE;
  }
  ul.progress-bar-text li {
    display: inline-block;
  }

  ul.progress-bar {
    height: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  ul.progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    background: #9D9D9D;
    width: 1px;
    height: 100vh;
  }
  ul.progress-bar li {
    background: #5ADA34;
    border-radius: 100px;
    width: 8px;
    height: 8px;
    z-index: 1;
    position: relative;
  }
  ul.progress-bar li.stop ~ li {
    background: #9B9B9B;
  }
  ul.progress-bar li.stop ~ li::after {
    height: 0;
  }
  ul.progress-bar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4px;
    background: #5ADA34;
    width: 1px;
    height: 100vh;
  }
  .errorClass {
      font-size: 10px;
  }
